.nope-dropdown-header{
    background-color: #e74a3b;
    border: 1px solid #e74a3b;
}
.page-item.active .page-link {
    color: #fff;
    background-color: #e74a3b;
    border-color: #e74a3b;
}
.page-link {
    color: #e74a3b;
    background-color: #fff;
    border: 1px solid #dddfeb;
}
.page-link:hover {
    color: #138c61;
    background-color: #eaecf4;
    border-color: #dddfeb;
}
.card-header {
    background-color: #ffffff;
    border-bottom: 1px solid #e3e6f0;
}
.breadcrumb {
    width: 100%;
    background-color: #fdfdfd;
    text-transform: lowercase;
    box-shadow: 0 .125rem .25rem 0 rgba(58,59,69,.2)!important;
}
.card.table, .breadcrumb, .btn-add{
    font-size: 13px !important;
}
.dataTables_info, .dataTables_paginate{
    font-size: 11px !important;
    margin-top: 10px !important;
}
.breadcrumb-item a{
    color: #e74a3b;
    text-decoration: none;
}
.action-table{
    margin-right: 15px;
}
.btn-link, .btn-link:hover{
    color: #e74a3b;
}
.card.table{
    border: 0px solid #e3e6f0;
    box-shadow: 0 .125rem .25rem 0 rgba(58,59,69,.2)!important;
}
table.dataTable td, table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    vertical-align: middle;
}
#overlay{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height:100%;
    display: none;
    background: rgba(0,0,0,0.6);
}
.cv-spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #e74a3b solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}
.text-muted {
    color: #77bba2!important;
    text-transform: lowercase;
}
.text-help {
    font-size: 11px;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th.dtr-control:before {

    background-color: #e14536 !important;
}
/*
.cards tbody tr {
    float: left;
    width: 19rem;
    margin: 0.5rem;
    border: 0.0625rem solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
 }

 .cards tbody td {
    display: block;
 }

 .cards thead {
    display: none;
 }

 .cards td:before {
    content: attr(data-label);
    position: relative;
    float: left;
    color: #808080;
    min-width: 4rem;
    margin-left: 0;
    margin-right: 1rem;
    text-align: left;
 }

 tr.selected td:before {
    color: #CCC;
 }

 .table .avatar {
    width: 50px;
 }

 .cards .avatar {
    width: 150px;
    margin: 15px;
 }/
